<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
    	<freegift>
    		<general>
    			<enabled>1</enabled>
    		</general>
    		<sales_config>
    			<no_of_freegift>1</no_of_freegift>
    			<display_pages>checkout_cart_index,catalog_product_view,catalog_category_view</display_pages>
    		</sales_config>
    	</freegift>
    </default>
</config>
