<?xml version="1.0"?>
<!--
/**
 *
 * Wiki-Solution
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Grid collection-->
    <preference for="Vnecoms\FreeGift\Api\FreeGiftRepositoryInterface" type="Vnecoms\FreeGift\Model\Api\FreeGiftRepository" />
    <preference for="Vnecoms\FreeGift\Api\Data\CatalogRulesInterface" type="Vnecoms\FreeGift\Model\Api\CatalogRule" />
    <preference for="Vnecoms\FreeGift\Api\Data\CatalogRulesInterface" type="Vnecoms\FreeGift\Model\Api\Data\CatalogRules" />
    



</config>
